In [1]:
import pandas as pd
import numpy as np

In [2]:
def printm(*args):
    for i in args:
        print("\n------------------\n")
        print(i)
    print("\n------------------")

1. Напишите программу с помощью `pandas`, которая разделяет указанный `DataFrame` на группы в соответствии с полем `school`. Выведите тип полученного объекта.

Входные данные:
```
   school class            name date_Of_Birth   age  height  weight  address
S1   s001     V  Alberto Franco     15/05/2002   12    173      35  street1
S2   s002     V    Gino Mcneill     17/05/2002   12    192      32  street2
S3   s003    VI     Ryan Parkes     16/02/1999   13    186      33  street3
S4   s001    VI    Eesha Hinton     25/09/1998   13    167      30  street1
S5   s002     V    Gino Mcneill     11/05/2002   14    151      31  street2
S6   s004    VI    David Parkes     15/09/1997   12    159      32  street4
```

In [ ]:
data = {
    'school': ['s001', 's002', 's003', 's001', 's002', 's004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']
}

df = pd.DataFrame(data)
group = df.groupby('school')

print("----------------------------------------------------------------------------------\n")
for school, group in group:
    print(f"School: {school}")
    print("\n----------------------------------------------------------------------------------\n")
    print(group)
    print("\n----------------------------------------------------------------------------------\n")

----------------------------------------------------------------------------------

School: s001

----------------------------------------------------------------------------------

  school class            name date_Of_Birth  age  height  weight  address
0   s001     V  Alberto Franco    15/05/2002   12     173      35  street1
3   s001    VI    Eesha Hinton    25/09/1998   13     167      30  street1

----------------------------------------------------------------------------------

School: s002

----------------------------------------------------------------------------------

  school class          name date_Of_Birth  age  height  weight  address
1   s002     V  Gino Mcneill    17/05/2002   12     192      32  street2
4   s002     V  Gino Mcneill    11/05/2002   14     151      31  street2

----------------------------------------------------------------------------------

School: s003

----------------------------------------------------------------------------------

  school class         name date_Of_Birth  age  height  weight  address
2   s003    VI  Ryan Parkes    16/02/1999   13     186      33  street3

----------------------------------------------------------------------------------

School: s004

----------------------------------------------------------------------------------

  school class          name date_Of_Birth  age  height  weight  address
5   s004    VI  David Parkes    15/09/1997   12     159      32  street4

----------------------------------------------------------------------------------

2. Напишите программу с помощью `pandas`, которая группирует приведенную таблицу по полю `school` и получает средние, минимальные и максимальные значения возраста для каждой школы.


```
   school class            name date_Of_Birth   age  height  weight  address
S1   s001     V  Alberto Franco     15/05/2002   12    173      35  street1
S2   s002     V    Gino Mcneill     17/05/2002   12    192      32  street2
S3   s003    VI     Ryan Parkes     16/02/1999   13    186      33  street3
S4   s001    VI    Eesha Hinton     25/09/1998   13    167      30  street1
S5   s002     V    Gino Mcneill     11/05/2002   14    151      31  street2
S6   s004    VI    David Parkes     15/09/1997   12    159      32  street4
```

In [ ]:
data = {
    'school': ['s001', 's002', 's003', 's001', 's002', 's004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']
}

df = pd.DataFrame(data)
group = df.groupby('school')['age'].agg(['mean', 'min', 'max'])
group

        mean  min  max
school
s001    12.5   12   13
s002    13.0   12   14
s003    13.0   13   13
s004    12.0   12   12

3. Напишите программу с помощью `pandas`, которая группирует указанную таблицу по полям `school` и `class`.

```
   school class            name  date_Of_Birth   age  height  weight  address
S1   s001     V  Alberto Franco     15/05/2002   12    173      35    street1
S2   s002     V    Gino Mcneill     17/05/2002   12    192      32    street2
S3   s003    VI     Ryan Parkes     16/02/1999   13    186      33    street3
S4   s001    VI    Eesha Hinton     25/09/1998   13    167      30    street1
S5   s002     V    Gino Mcneill     11/05/2002   14    151      31    street2
S6   s004    VI    David Parkes     15/09/1997   12    159      32    street4
```

In [ ]:
data = {
    'school': ['s001', 's002', 's003', 's001', 's002', 's004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']
}

df = pd.DataFrame(data)
group = df.groupby(['school', 'class'])

print("----------------------------------------------------------------------------------\n")
for condition, items in group:
    print(f"Condition: {condition}")
    print("\n----------------------------------------------------------------------------------\n")
    print(items)
    print("\n----------------------------------------------------------------------------------\n")

----------------------------------------------------------------------------------

Condition: ('s001', 'V')

----------------------------------------------------------------------------------

  school class            name date_Of_Birth  age  height  weight  address
0   s001     V  Alberto Franco    15/05/2002   12     173      35  street1

----------------------------------------------------------------------------------

Condition: ('s001', 'VI')

----------------------------------------------------------------------------------

  school class          name date_Of_Birth  age  height  weight  address
3   s001    VI  Eesha Hinton    25/09/1998   13     167      30  street1

----------------------------------------------------------------------------------

Condition: ('s002', 'V')

----------------------------------------------------------------------------------

  school class          name date_Of_Birth  age  height  weight  address
1   s002     V  Gino Mcneill    17/05/2002   12     192      32  street2
4   s002     V  Gino Mcneill    11/05/2002   14     151      31  street2

----------------------------------------------------------------------------------

Condition: ('s003', 'VI')

----------------------------------------------------------------------------------

  school class         name date_Of_Birth  age  height  weight  address
2   s003    VI  Ryan Parkes    16/02/1999   13     186      33  street3

----------------------------------------------------------------------------------

Condition: ('s004', 'VI')

----------------------------------------------------------------------------------

  school class          name date_Of_Birth  age  height  weight  address
5   s004    VI  David Parkes    15/09/1997   12     159      32  street4

----------------------------------------------------------------------------------

4. Напишите программу с помощью `pandas` которая группирует указанную таблицу по полю `school`, а затем преобразует результат к типу `list`.

```
   school class            name  date_Of_Birth   age  height  weight  address
S1   s001     V  Alberto Franco     15/05/2002   12    173      35    street1
S2   s002     V    Gino Mcneill     17/05/2002   12    192      32    street2
S3   s003    VI     Ryan Parkes     16/02/1999   13    186      33    street3
S4   s001    VI    Eesha Hinton     25/09/1998   13    167      30    street1
S5   s002     V    Gino Mcneill     11/05/2002   14    151      31    street2
S6   s004    VI    David Parkes     15/09/1997   12    159      32    street4
```

In [ ]:
data = {
    'school': ['s001', 's002', 's003', 's001', 's002', 's004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']
}

df = pd.DataFrame(data)
group = df.groupby('school').agg(list).reset_index()
group

,school,class,name,date_Of_Birth,age,height,weight,address
0,s001,"[V, VI]","[Alberto Franco, Eesha Hinton]","[15/05/2002, 25/09/1998]","[12, 13]","[173, 167]","[35, 30]","[street1, street1]"
1,s002,"[V, V]","[Gino Mcneill, Gino Mcneill]","[17/05/2002, 11/05/2002]","[12, 14]","[192, 151]","[32, 31]","[street2, street2]"
2,s003,[VI],[Ryan Parkes],[16/02/1999],[13],[186],[33],[street3]
3,s004,[VI],[David Parkes],[15/09/1997],[12],[159],[32],[street4]

5. Напишите программу с помощью `pandas`, которая делает два различных рбъекта группировки, одну по одному полю, а вторую по двум полям. Выведите размеры (`size`) полученных объектов.

```
   school class            name  date_Of_Birth   age  height  weight  address
S1   s001     V  Alberto Franco     15/05/2002   12    173      35    street1
S2   s002     V    Gino Mcneill     17/05/2002   12    192      32    street2
S3   s003    VI     Ryan Parkes     16/02/1999   13    186      33    street3
S4   s001    VI    Eesha Hinton     25/09/1998   13    167      30    street1
S5   s002     V    Gino Mcneill     11/05/2002   14    151      31    street2
S6   s004    VI    David Parkes     15/09/1997   12    159      32    street4
```

In [ ]:
data = {
    'school': ['s001', 's002', 's003', 's001', 's002', 's004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']
}

df = pd.DataFrame(data)
group1 = df.groupby('school')
print(group1.size())
print("\n----------------------------------------------------------------------------------\n")


group2 = df.groupby(['school', 'class'])
print(group2.size())

school
s001    2
s002    2
s003    1
s004    1
dtype: int64

----------------------------------------------------------------------------------

school  class
s001    V        1
        VI       1
s002    V        2
s003    VI       1
s004    VI       1
dtype: int64

6. Напишите программу с помощью `pandas` которая группирует указанную таблицу по полю `school`, а затем извлекает одну указанную группу по её имени.

```
   school class            name  date_Of_Birth   age  height  weight  address
S1   s001     V  Alberto Franco     15/05/2002   12    173      35    street1
S2   s002     V    Gino Mcneill     17/05/2002   12    192      32    street2
S3   s003    VI     Ryan Parkes     16/02/1999   13    186      33    street3
S4   s001    VI    Eesha Hinton     25/09/1998   13    167      30    street1
S5   s002     V    Gino Mcneill     11/05/2002   14    151      31    street2
S6   s004    VI    David Parkes     15/09/1997   12    159      32    street4
```

In [ ]:
data = {
    'school': ['s001', 's002', 's003', 's001', 's002', 's004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']
}

df = pd.DataFrame(data)
group = df.groupby('school')
school_group = group.get_group('s002')

school_group

  school class          name date_Of_Birth  age  height  weight  address
1   s002     V  Gino Mcneill    17/05/2002   12     192      32  street2
4   s002     V  Gino Mcneill    11/05/2002   14     151      31  street2

7. Напишите программу с помощью `pandas`, которая группирует указанную таблицу по полю Клиент (`customer_id`) и находит среднее, минимально и максимальное значение суммы покупки (`purch_amt`) для каждого клиента.

```
    ord_no  purch_amt    ord_date  customer_id  salesman_id
0    70001     150.50  2012-10-05         3005         5002
1    70009     270.65  2012-09-10         3001         5005
2    70002      65.26  2012-10-05         3002         5001
3    70004     110.50  2012-08-17         3009         5003
4    70007     948.50  2012-09-10         3005         5002
5    70005    2400.60  2012-07-27         3007         5001
6    70008    5760.00  2012-09-10         3002         5001
7    70010    1983.43  2012-10-10         3004         5006
8    70003    2480.40  2012-10-10         3009         5003
9    70012     250.45  2012-06-27         3008         5002
10   70011      75.29  2012-08-17         3003         5007
11   70013    3045.60  2012-04-25         3002         5001
```

In [ ]:
data = {
    'ord_no': [70001, 70009, 70002, 70004, 70007, 70005, 70008, 70010, 70003, 70012, 70011, 70013],
    'purch_amt': [150.50, 270.65, 65.26, 110.50, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, 3045.60],
    'ord_date': ['2012-10-05', '2012-09-10', '2012-10-05', '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': [3005, 3001, 3002, 3009, 3005, 3007, 3002, 3004, 3009, 3008, 3003, 3002],
    'salesman_id': [5002, 5005, 5001, 5003, 5002, 5001, 5001, 5006, 5003, 5002, 5007, 5001]
}

df = pd.DataFrame(data)
df.groupby('customer_id')['purch_amt'].agg(['mean', 'min', 'max'])

                    mean      min      max
customer_id
3001          270.650000   270.65   270.65
3002         2956.953333    65.26  5760.00
3003           75.290000    75.29    75.29
3004         1983.430000  1983.43  1983.43
3005          549.500000   150.50   948.50
3007         2400.600000  2400.60  2400.60
3008          250.450000   250.45   250.45
3009         1295.450000   110.50  2480.40

8. Напишите программу с помощью pandas, которая группирует указанную таблицу по каким либо двум полям, а затем подсчитывавет количество объектов в каждой группе.


```
    ord_no  purch_amt    ord_date  customer_id  salesman_id
0    70001     150.50  2012-10-05         3005         5002
1    70009     270.65  2012-09-10         3001         5005
2    70002      65.26  2012-10-05         3002         5001
3    70004     110.50  2012-08-17         3009         5003
4    70007     948.50  2012-09-10         3005         5002
5    70005    2400.60  2012-07-27         3007         5001
6    70008    5760.00  2012-09-10         3002         5001
7    70010    1983.43  2012-10-10         3004         5006
8    70003    2480.40  2012-10-10         3009         5003
9    70012     250.45  2012-06-27         3008         5002
10   70011      75.29  2012-08-17         3003         5007
11   70013    3045.60  2012-04-25         3002         5001
```

In [ ]:
data = {
    'ord_no': [70001, 70009, 70002, 70004, 70007, 70005, 70008, 70010, 70003, 70012, 70011, 70013],
    'purch_amt': [150.50, 270.65, 65.26, 110.50, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, 3045.60],
    'ord_date': ['2012-10-05', '2012-09-10', '2012-10-05', '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': [3005, 3001, 3002, 3009, 3005, 3007, 3002, 3004, 3009, 3008, 3003, 3002],
    'salesman_id': [5002, 5005, 5001, 5003, 5002, 5001, 5001, 5006, 5003, 5002, 5007, 5001]
}

df = pd.DataFrame(data)
result = df.groupby(['customer_id', 'salesman_id']).size().reset_index(name='count')
result

   customer_id  salesman_id  count
0         3001         5005      1
1         3002         5001      3
2         3003         5007      1
3         3004         5006      1
4         3005         5002      2
5         3007         5001      1
6         3008         5002      1
7         3009         5003      2

9. Напишите программу с помощью pandas, которая группирует указанную таблицу по каким либо двум полям, а затем подсчитывавет сумму покупок в каждой группе, и выводит в порядке убывания этой суммы.

```
    ord_no  purch_amt    ord_date  customer_id  salesman_id
0    70001     150.50  2012-10-05         3001         5002
1    70009     270.65  2012-09-10         3001         5005
2    70002      65.26  2012-10-05         3005         5001
3    70004     110.50  2012-08-17         3001         5003
4    70007     948.50  2012-09-10         3005         5002
5    70005    2400.60  2012-07-27         3001         5001
6    70008    5760.00  2012-09-10         3005         5001
7    70010    1983.43  2012-10-10         3001         5006
8    70003    2480.40  2012-10-10         3005         5003
9    70012     250.45  2012-06-27         3001         5002
10   70011      75.29  2012-08-17         3005         5007
11   70013    3045.60  2012-04-25         3005         5001
```

In [ ]:
data = {
    'ord_no': [70001, 70009, 70002, 70004, 70007, 70005, 70008, 70010, 70003, 70012, 70011, 70013],
    'purch_amt': [150.50, 270.65, 65.26, 110.50, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, 3045.60],
    'ord_date': ['2012-10-05', '2012-09-10', '2012-10-05', '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': [3005, 3001, 3002, 3009, 3005, 3007, 3002, 3004, 3009, 3008, 3003, 3002],
    'salesman_id': [5002, 5005, 5001, 5003, 5002, 5001, 5001, 5006, 5003, 5002, 5007, 5001]
}

df = pd.DataFrame(data)
df.groupby(['customer_id', 'salesman_id'])['purch_amt'].sum().reset_index().sort_values(by='purch_amt', ascending=False)

   customer_id  salesman_id  purch_amt
1         3002         5001    8870.86
7         3009         5003    2590.90
5         3007         5001    2400.60
3         3004         5006    1983.43
4         3005         5002    1099.00
0         3001         5005     270.65
6         3008         5002     250.45
2         3003         5007      75.29

10. Напишите программу с помощью pandas, которая группирует указанную таблицу по полю Клиент (`customer_id`), и создает список дат покупок для каждой группы.

```
    ord_no  purch_amt    ord_date  customer_id  salesman_id
0    70001     150.50  2012-10-05         3001         5002
1    70009     270.65  2012-09-10         3001         5005
2    70002      65.26  2012-10-05         3005         5001
3    70004     110.50  2012-08-17         3001         5003
4    70007     948.50  2012-09-10         3005         5002
5    70005    2400.60  2012-07-27         3001         5001
6    70008    5760.00  2012-09-10         3005         5001
7    70010    1983.43  2012-10-10         3001         5006
8    70003    2480.40  2012-10-10         3005         5003
9    70012     250.45  2012-06-27         3001         5002
10   70011      75.29  2012-08-17         3005         5007
11   70013    3045.60  2012-04-25         3005         5001
```

In [ ]:
data = {
    'ord_no': [70001, 70009, 70002, 70004, 70007, 70005, 70008, 70010, 70003, 70012, 70011, 70013],
    'purch_amt': [150.50, 270.65, 65.26, 110.50, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, 3045.60],
    'ord_date': ['2012-10-05', '2012-09-10', '2012-10-05', '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': [3005, 3001, 3002, 3009, 3005, 3007, 3002, 3004, 3009, 3008, 3003, 3002],
    'salesman_id': [5002, 5005, 5001, 5003, 5002, 5001, 5001, 5006, 5003, 5002, 5007, 5001]
}

df = pd.DataFrame(data)
df.groupby('customer_id')['ord_date'].apply(list).reset_index()

   customer_id                              ord_date
0         3001                          [2012-09-10]
1         3002  [2012-10-05, 2012-09-10, 2012-04-25]
2         3003                          [2012-08-17]
3         3004                          [2012-10-10]
4         3005              [2012-10-05, 2012-09-10]
5         3007                          [2012-07-27]
6         3008                          [2012-06-27]
7         3009              [2012-08-17, 2012-10-10]

11. Напишите программу с помощью pandas, которая группирует указанную таблицу и подсчитывает сумму покупок (`purch_amt`) в каждом месяце.


```
    ord_no  purch_amt    ord_date  customer_id  salesman_id
0    70001     150.50  2012-10-05         3001         5002
1    70009     270.65  2012-09-10         3001         5005
2    70002      65.26  2012-10-05         3005         5001
3    70004     110.50  2012-08-17         3001         5003
4    70007     948.50  2012-09-10         3005         5002
5    70005    2400.60  2012-07-27         3001         5001
6    70008    5760.00  2012-09-10         3005         5001
7    70010    1983.43  2012-10-10         3001         5006
8    70003    2480.40  2012-10-10         3005         5003
9    70012     250.45  2012-06-27         3001         5002
10   70011      75.29  2012-08-17         3005         5007
11   70013    3045.60  2012-04-25         3005         5001
```

In [ ]:
data = {
    'ord_no': [70001, 70009, 70002, 70004, 70007, 70005, 70008, 70010, 70003, 70012, 70011, 70013],
    'purch_amt': [150.50, 270.65, 65.26, 110.50, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, 3045.60],
    'ord_date': ['2012-10-05', '2012-09-10', '2012-10-05', '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': [3005, 3001, 3002, 3009, 3005, 3007, 3002, 3004, 3009, 3008, 3003, 3002],
    'salesman_id': [5002, 5005, 5001, 5003, 5002, 5001, 5001, 5006, 5003, 5002, 5007, 5001]
}

df = pd.DataFrame(data)
df['ord_date'] = pd.to_datetime(df['ord_date'])
df.groupby(df['ord_date'].dt.to_period('M'))['purch_amt'].sum().reset_index()

  ord_date  purch_amt
0  2012-04    3045.60
1  2012-06     250.45
2  2012-07    2400.60
3  2012-08     185.79
4  2012-09    6979.15
5  2012-10    4679.59

12. Напишите программу с помощью pandas, которая группирует указанную таблицу и подсчитывает сумму покупок (`purch_amt`) в каждом месяце каждого года.


```
    ord_no  purch_amt    ord_date  customer_id  salesman_id
0    70001     150.50  2012-10-05         3001         5002
1    70009     270.65  2012-09-10         3001         5005
2    70002      65.26  2012-10-05         3005         5001
3    70004     110.50  2012-08-17         3001         5003
4    70007     948.50  2012-09-10         3005         5002
5    70005    2400.60  2012-07-27         3001         5001
6    70008    5760.00  2012-09-10         3005         5001
7    70010    1983.43  2012-10-10         3001         5006
8    70003    2480.40  2012-10-10         3005         5003
9    70012     250.45  2012-06-27         3001         5002
10   70011      75.29  2012-08-17         3005         5007
11   70013    3045.60  2012-04-25         3005         5001
```

In [ ]:
data = {
    'ord_no': [70001, 70009, 70002, 70004, 70007, 70005, 70008, 70010, 70003, 70012, 70011, 70013],
    'purch_amt': [150.50, 270.65, 65.26, 110.50, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, 3045.60],
    'ord_date': ['2012-10-05', '2012-09-10', '2012-10-05', '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': [3001, 3001, 3005, 3001, 3005, 3001, 3005, 3001, 3005, 3001, 3005, 3005],
    'salesman_id': [5002, 5005, 5001, 5003, 5002, 5001, 5001, 5006, 5003, 5002, 5007, 5001]
}

df = pd.DataFrame(data)

df['ord_date'] = pd.to_datetime(df['ord_date'])
df.groupby([df['ord_date'].dt.year.rename('year'), df['ord_date'].dt.month.rename('month')])['purch_amt'].sum()

year  month
2012  4        3045.60
      6         250.45
      7        2400.60
      8         185.79
      9        6979.15
      10       4679.59
Name: purch_amt, dtype: float64

13. Напишите программу с помощью pandas, которая группирует указанную таблицу по первому столбцу, а остальные значения преобразует в список значений.

```
    X   Y   Z
0  10  10  22
1  10  15  20
2  10  11  18
3  20  20  20
4  30  21  13
5  30  12  10
6  10  14   0
```

In [ ]:
data = {
    'X': [10, 10, 10, 20, 30, 30, 10],
    'Y': [10, 15, 11, 20, 21, 12, 14],
    'Z': [22, 20, 18, 20, 13, 10, 0]
}

df = pd.DataFrame(data)

grouped = df.groupby('X').agg(lambda x: list(x))
grouped

                   Y                Z
X
10  [10, 15, 11, 14]  [22, 20, 18, 0]
20              [20]             [20]
30          [21, 12]         [13, 10]

14. Напишите программу с помощью pandas, которая группирует указанную таблицу по всем столбцам и вычисляет количество объектов в каждой группе.

```
   id  type     book
0   1    10     Math
1   2    15  English
2   1    11  Physics
3   1    20     Math
4   2    21  English
5   1    12  Physics
6   2    14  English
```

Вывод:

```
book     English  Math  Physics
id type                      
1  10          0     1        0
   11          0     0        1
   12          0     0        1
   20          0     1        0
2  14          1     0        0
   15          1     0        0
   21          1     0        0
```

In [ ]:
data = {
    'id': [1, 2, 1, 1, 2, 1, 2],
    'type': [10, 15, 11, 20, 21, 12, 14],
    'book': ['Math', 'English', 'Physics', 'Math', 'English', 'Physics', 'English']
}

df = pd.DataFrame(data)

df.groupby(['id', 'type', 'book']).size().unstack(fill_value=0)

book     English  Math  Physics
id type
1  10          0     1        0
   11          0     0        1
   12          0     0        1
   20          0     1        0
2  14          1     0        0
   15          1     0        0
   21          1     0        0

15. Напишите программу с помощью pandas, которая группирует указанную таблицу и вычисляет количество уникальных значений поля `value` для каждой группы.

```
   id value
0   1     a
1   1     a
2   2     b
3   3  None
4   3     a
5   4     a
6   4  None
7   4     b
```

In [ ]:
data = {
    'id': [1, 1, 2, 3, 3, 4, 4, 4],
    'value': ['a', 'a', 'b', None, 'a', 'a', None, 'b']
}

df = pd.DataFrame(data)

df.groupby('id')['value'].nunique()

id
1    1
2    1
3    1
4    2
Name: value, dtype: int64

16. Напишите программу с помощью pandas, которая группирует указанную таблицу и выводит список всех индексов полученного объекта.

```
   school_code class            name date_Of_Birth   age  height  weight
S1        s001     V  Alberto Franco     15/05/2002   12     173      35   
S2        s002     V    Gino Mcneill     17/05/2002   12     192      32   
S3        s003    VI     Ryan Parkes     16/02/1999   13     186      33   
S4        s001    VI    Eesha Hinton     25/09/1998   13     167      30   
S5        s002     V    Gino Mcneill     11/05/2002   14     151      31   
S6        s004    VI    David Parkes     15/09/1997   12     159      32
```

In [ ]:
data = {
    'school_code': ['s001', 's002', 's003', 's001', 's002', 's004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002', '17/05/2002', '16/02/1999', '25/09/1998', '11/05/2002', '15/09/1997'],
    'age': [12, 12, 13, 13, 14, 12],
    'height': [173, 192, 186, 167, 151, 159],
    'weight': [35, 32, 33, 30, 31, 32]
}

df = pd.DataFrame(data)

grouped = df.groupby('school_code')
list(grouped.groups.keys())

['s001', 's002', 's003', 's004']